# Phase 1 - Ingestion and Cleaning

In the Phase 2 of the Case Study, we will carry out the following steps:
  - Ingest raw downloaded data
  - Output a combined dataset ready for analysis and modeling

In [1]:
import pandas as pd
import os
from sys import platform
import matplotlib.pyplot as plt
import datetime
import numpy as np
import pickle
import seaborn

In [2]:
# A helper function that you'll be using while reading the raw files
def is_integer(x):
    '''
    This function returns True if x is an integer, and False otherwise
    '''
    try:
        return (int(x) == float(x))
    except:
        return False

## Parameters

In [3]:
# Define the directories that contain the files downloaded
dir_cs = '/1805_download/' # path to the directory where all the *.csv.zip files are located

# Define the output path for the pickle
pickle_file = 'output' + "clean_data.pickle" # path to save cleaned data

In [30]:
# Identify the columns we'll be keeping from the dataset
cols_to_pick = ['id','loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'emp_length',
                 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'purpose',
                 'dti', 'delinq_2yrs', 'earliest_cr_line', 'open_acc', 'pub_rec',
                'fico_range_high', 'fico_range_low', 'revol_bal', 'revol_util', 'total_pymnt', 'last_pymnt_d',
                 'recoveries'] # list of features to use for this study as indicated in the handout

# Identify the type of each of these column based on your CS-Phase 1 response
float_cols = ['loan_amnt', 'funded_amnt','installment', 
            'annual_inc', 'issue_d','dti', 'delinq_2yrs', 'open_acc', 'pub_rec','fico_range_high', 'fico_range_low',
              'revol_bal','total_pymnt', 'recoveries']
cat_cols = ['term', 'grade','emp_length','home_ownership', 'verification_status', 'loan_status', 'purpose'] # categorical features
perc_cols = ['int_rate', 'revol_util']
date_cols = ['issue_d', 'earliest_cr_line', 'last_pymnt_d']


# Ensure that we have types for every column
assert set(cols_to_pick) - set(float_cols) - set(cat_cols) - set(perc_cols) - set(date_cols) == set(["id"])

In [31]:
# Some of the columns selected will not be used directly in the model,
# but will be used to generate other features.
#
# Create variables specifying the features that will be used

# All categorical columns other than "loan_status" will be used as
# discrete features

discrete_features = list(set(cat_cols) - set(["loan_status"]))

# All numeric columns will be used as continuous features
continuous_features = list(float_cols + perc_cols)

## Ingestion
Ingest the data files from both sets, perform consistency checks, and prepare one single file for each set

In [203]:
def ingest_files(directory):
    '''
    This function will ingest every file in the specified directory
    into a pandas dataframe. It will return a dictionary containing
    these dataframes, keyed by the file name.
    
    We assume the directory contains files directly downloaded from
    the link given in the handout, and *only* those files. Thus, we 
    assume the files are zipped (pd.read_csv can read zipped files) 
    and we assume the first line in each file needs to be skipped.
    
    Note that each file will be read *without* formatting
    '''
    
    # If the directory has no trailing slash, add one
    if directory[-1] != "/":
        directory += '/'
    
    

    all_files = [] # get list of all files from the directory
    for r, d, f in os.walk(directory):
        for file in f:
            all_files.append(r + file)
    
    output = {}
    
    print("Directory " + directory + " has " + str(len(all_files)) + " files:")
    for i in all_files:
        print("    Reading file " + i)
        output[i] = pd.read_csv(i, delimiter=',', header=1,dtype = 'str') # read each with dtype='str' and skip_rows =1
        
        # Some of the files have "summary" lines that, for example
        # read "Total number of loans number in Policy 1: ....."
        # To remove those lines, find any lines with non-integer IDs
        # and remove them
        invalid_rows = [] # mask rows that have non-integer IDs. Use is_integer method
        for j in range(len(output[i])):
            if is_integer(output[i].iloc[j]['id']) == False:
                output[i].iloc[j]['id'] = False
                invalid_rows.append(j)
        if len(invalid_rows) > 0:
            print("Found " + str(len(invalid_rows)) + " invalid rows which were removed")
            output[i] = output[i][output[i].iloc[:]['id'] != False] # remove invalid rows
    
    return output # return dictionary of dataframe

In [200]:
a

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,90281097,NaN,35000,35000,35000,60 months,17.99%,888.58,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,90641854,NaN,12000,12000,12000,60 months,9.49%,251.97,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,90451810,NaN,15000,15000,15000,36 months,13.99%,512.6,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,90723253,NaN,7000,7000,7000,36 months,10.99%,229.14,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,90723183,NaN,7000,7000,7000,36 months,12.79%,235.16,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,90115888,NaN,23800,23800,23800,36 months,14.49%,819.11,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,89996652,NaN,12000,12000,12000,36 months,5.32%,361.38,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,90118352,NaN,3000,3000,3000,36 months,13.99%,102.52,C,C3,...,NaN,NaN,Cash,Y,Aug-2017,ACTIVE,Aug-2017,1270.81,45,12
8,90230102,NaN,17000,17000,17000,36 months,14.49%,585.08,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,90141817,NaN,12000,12000,12000,60 months,12.79%,271.75,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
10,89868126,NaN,15000,15000,15000,36 months,5.32%,451.73,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
11,90721351,NaN,30000,30000,30000,36 months,10.99%,982.02,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
12,90106576,NaN,32200,32200,32200,60 months,21.49%,880.02,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
13,90581844,NaN,1000,1000,1000,36 months,13.49%,33.94,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
14,90394456,NaN,12000,12000,12000,36 months,15.59%,419.46,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
15,90722216,NaN,11000,11000,11000,36 months,8.59%,347.71,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
16,90157878,NaN,8000,8000,8000,36 months,12.79%,268.75,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
17,90905112,NaN,5000,5000,5000,36 months,12.79%,167.97,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18,89946651,NaN,3250,3250,3250,36 months,13.49%,110.28,C,C2,...,2417.63,110.04,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19,90400466,NaN,20000,20000,20000,36 months,6.99%,617.46,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
20,89924687,NaN,8000,8000,8000,36 months,7.59%,249.19,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
21,90292071,NaN,30000,30000,30000,60 months,13.99%,697.9,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
22,90945154,NaN,18000,18000,18000,60 months,14.49%,423.42,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23,90723401,NaN,6000,6000,6000,36 months,13.99%,205.04,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
24,90825160,NaN,3000,3000,3000,36 months,8.59%,94.83,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
25,90723380,NaN,15000,15000,15000,36 months,12.79%,503.9,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
26,90945156,NaN,18000,18000,18000,36 months,8.59%,568.97,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
27,90651748,NaN,40000,40000,40000,36 months,13.49%,1357.22,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
28,90765118,NaN,12000,12000,12000,60 months,22.39%,334.1,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
29,90723332,NaN,35000,35000,35000,36 months,19.99%,1300.55,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99090,83649586,NaN,20000,20000,20000,60 months,8.99%,415.08,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99091,83980610,NaN,1200,1200,1200,36 months,6.99%,37.05,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99092,84000289,NaN,13200,13200,13200,36 months,10.49%,428.98,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99093,84110467,NaN,7200,7200,7200,36 months,10.99%,235.69,B,B4,...,NaN,NaN,Cash,Y,Feb-2018,ACTIVE,Feb-2018,2440,55.01,9
99094,83880053,NaN,25000,25000,25000,36 months,16.99%,891.2,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99095,84030321,NaN,15500,15500,15500,60 months,8.59%,318.68,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99096,83670390,NaN,2425,2425,2425,36 months,25.69%,97.31,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99097,83910306,NaN,11000,11000,11000,60 months,12.79%,249.11,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99098,83657555,NaN,28000,28000,28000,60 months,10.99%,608.65,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99099,83667071,NaN,30000,30000,30000,60 months,10.49%,644.67,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99100,83849073,NaN,20000,20000,20000,60 months,11.49%,439.76,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99101,83719543,NaN,25000,25000,25000,60 months,10.99%,543.44,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99102,83689589,NaN,24000,24000,24000,60 months,8.99%,498.09,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99103,81425438,NaN,24000,24000,24000,60 months,11.49%,527.71,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99104,83889618,NaN,30000,30000,30000,60 months,10.99%,652.13,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99105,83797936,NaN,25000,25000,25000,60 months,10.49%,537.23,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99106,83837628,NaN,7000,7000,7000,36 months,13.99%,239.21,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99107,83399002,NaN,21000,21000,21000,60 months,8.59%,431.76,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99108,83100802,NaN,20000,20000,20000,36 months,13.49%,678.61,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99109,83101159,NaN,8625,8625,8575,36 months,23.99%,338.34,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99110,83737081,NaN,18000,18000,18000,60 months,10.49%,386.81,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99111,83788089,NaN,12000,12000,12000,36 months,13.49%,407.17,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99112,82454122,NaN,28600,28600,28600,60 months,22.39%,796.26,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99113,83335063,NaN,6000,6000,6000,36 months,8.59%,189.66,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99114,81397251,NaN,18000,18000,18000,60 months,13.99%,418.74,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99115,81571855,NaN,5000,5000,5000,36 months,7.39%,155.28,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99116,83143748,NaN,32000,32000,32000,60 months,10.49%,687.65,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99117,81572108,NaN,2100,2100,2100,36 months,10.75%,68.51,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99118,611704,NaN,34000,34000,34000,60 months,7.89%,687.61,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99119,83232950,NaN,1600,1600,1600,36 months,14.49%,55.07,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
# Ingest the set of files we downloaded using the defined method "ingest_files"
files_cs = ingest_files('test') # dictioary of (filename, dataframe) as (key, value)

Directory test/ has 2 files:
    Reading file test/LoanStats_securev1_2016Q2.csv.zip
Found 2 invalid rows which were removed
    Reading file test/LoanStats_securev1_2016Q1.csv.zip
Found 2 invalid rows which were removed

In [223]:

for i in files_cs:
    a = pd.DataFrame(files_cs[i].head())
    a.append(a)
    a.append(a)
    print(a)

         id member_id loan_amnt funded_amnt funded_amnt_inv        term  \
0  84333484       NaN     12000       12000           12000   36 months
1  84120174       NaN      2000        2000            2000   36 months
2  83990816       NaN     10000       10000           10000   36 months
3  83770674       NaN     32000       32000           32000   36 months
4  83678135       NaN     30000       30000           30000   60 months

  int_rate installment grade sub_grade       ...        \
0   15.59%      419.46     C        C5       ...
1   16.99%        71.3     D        D1       ...
2   17.99%      361.48     D        D2       ...
3   13.99%     1093.53     C        C3       ...
4   24.49%       871.6     E        E3       ...

  hardship_payoff_balance_amount hardship_last_payment_amount  \
0                            NaN                          NaN
1                            NaN                          NaN
2                            NaN                          NaN
3                            NaN                          NaN
4                            NaN                          NaN

  disbursement_method debt_settlement_flag debt_settlement_flag_date  \
0                Cash                    N                       NaN
1                Cash                    N                       NaN
2                Cash                    N                       NaN
3                Cash                    N                       NaN
4                Cash                    N                       NaN

  settlement_status settlement_date settlement_amount settlement_percentage  \
0               NaN             NaN               NaN                   NaN
1               NaN             NaN               NaN                   NaN
2               NaN             NaN               NaN                   NaN
3               NaN             NaN               NaN                   NaN
4               NaN             NaN               NaN                   NaN

  settlement_term
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

[5 rows x 151 columns]
         id member_id loan_amnt funded_amnt funded_amnt_inv        term  \
0  75598350       NaN     34000       34000           34000   36 months
1  75973849       NaN      5900        5900            5900   36 months
2  75728761       NaN      7500        7500            7500   36 months
3  75124079       NaN     35000       35000           34975   36 months
4  76042851       NaN     28000       28000           28000   36 months

  int_rate installment grade sub_grade       ...        \
0    9.75%      1093.1     B        B3       ...
1   11.99%      195.94     C        C1       ...
2   12.99%      252.67     C        C2       ...
3   19.53%     1292.36     D        D5       ...
4   13.67%       952.5     C        C3       ...

  hardship_payoff_balance_amount hardship_last_payment_amount  \
0                            NaN                          NaN
1                            NaN                          NaN
2                            NaN                          NaN
3                            NaN                          NaN
4                            NaN                          NaN

  disbursement_method debt_settlement_flag debt_settlement_flag_date  \
0                Cash                    N                       NaN
1                Cash                    N                       NaN
2                Cash                    N                       NaN
3                Cash                    N                       NaN
4                Cash                    N                       NaN

  settlement_status settlement_date settlement_amount settlement_percentage  \
0               NaN             NaN               NaN                   NaN
1               NaN             NaN               NaN                   NaN
2               NaN             NaN               NaN                   NaN
3               NaN             NaN               NaN                   NaN
4               NaN             NaN               NaN                   NaN

  settlement_term
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

[5 rows x 151 columns]

### Combine the files

In [ ]:
data_cs = ... # combine "files_cs" into a pandas dataframe
              # resent index with drop = True

## Prepare Final Dataset

In [ ]:
# Keep only the columns of interest from 'data_cs'
final_data = ...

In [ ]:
print("Starting with " + str(len(final_data)) + " rows")

### Typecast the columns

In [ ]:
# Remember that we read the data as string (without any formatting). 
# Now we would typecast the columns based on feature types which you found out in CS Phase 1

for i in float_cols:
    final_data[i] = ... # typecast float columns

In [ ]:
def clean_perc(x):
    if pd.isnull(x):
        return np.nan
    else:
        return float(x.strip()[:-1])

for i in perc_cols:
    final_data[i] = ... # apply clean_perc to percentage columns

In [ ]:
def clean_date(x):
    if pd.isnull(x):
        return None
    else:
        return datetime.datetime.strptime( x, "%b-%Y").date()

for i in date_cols:
    final_data[i] = ... # typecast date cloumns to datatime using clean_date

In [ ]:
for i in cat_cols:
    ... # for categorical features if the value is null/empty set it to None

## Calculate returns for each loan

In [ ]:
# Define the names of the four returns we'll be calculating as described in Q.6
# ret_PESS: Pessimistic return
# ret_OPT: Optimistic return
# ret_INTa, ret_INTb: Method3 at two differnt values of "i"
ret_cols = ["ret_PESS", "ret_OPT", "ret_INTa", "ret_INTb"]

In [ ]:
# Remove all rows for loans that were paid back on the days they were issued
final_data['loan_length'] = (final_data.last_pymnt_d - final_data.issue_d) / np.timedelta64(1, 'M')
n_rows = len(final_data)

final_data = ... # select rows where loan_length is not 0. 

print("Removed " + str(n_rows - len(final_data)) + " rows")

### M1-Pessimistic Method

In [ ]:
# Calculate the return using a simple annualized profit margin
# Pessimistic definition (Handout 6a.) (M1)

final_data['term_num'] = final_data.term.str.extract('(\d+)',expand=False).astype(int) # length of loan in months

final_data['ret_PESS'] = ...

### M2-Optimistic Method

In [ ]:
# Assuming that if a loan gives a positive return, we can
# immediately find a similar loan to invest in; if the loan
# takes a loss, we use M1-pessimistic to compute the return

final_data['ret_OPT'] = ...

final_data.loc[final_data.ret_OPT < 0,'ret_OPT'] = ...

### Method 3

In [ ]:
def ret_method_3(T, i):
    '''
    Given an investment time horizon (in months) and re-investment
    interest rate, calculate the return of each loan
    '''
    
    # Assuming that the total amount paid back was paid at equal
    # intervals during the duration of the loan, calculate the
    # size of each of these installment
    actual_installment = (final_data.total_pymnt - final_data.recoveries) / ...

    # Assuming the amount is immediately re-invested at the prime
    # rate, find the total amount of money we'll have by the end
    # of the loan
    cash_by_end_of_loan = actual_installment * ... # compute the quantity given in [] in eq.2.3 of handout
    
    cash_by_end_of_loan = cash_by_end_of_loan + final_data.recoveries
    
    # Assuming that cash is then re-invested at the prime rate,
    # with monthly re-investment, until T months from the start
    # of the loan
    remaining_months = T - final_data['loan_length']
    final_return = cash_by_end_of_loan * ... 

    # Find the percentage return
    ret_val = (12/T) * ...
    return ret_val

In [ ]:
final_data['ret_INTa'] = ... # call ret_method_3 with T=60, i=0.001
final_data['ret_INTb'] = ... # call ret_method_3 with T=60, i=0.005

### Visualize the variables

In [ ]:
def visualize_float_columns():
    '''
    This function visualizes Box-and-whisker plots for continuous variables
    '''
    
    # FLoat columns
    for i in float_cols + perc_cols + ret_cols:
        seaborn.boxplot(final_data[i])

        # Print the three highest values
        highest_vals = ... # get 3 highest values
        
        smallest_val = min(final_data[i])
        
        plt.text(smallest_val, -0.3, highest_vals[0])
        plt.text(smallest_val, -0.2, highest_vals[1])
        plt.text(smallest_val, -0.1, highest_vals[2])

        plt.show()

In [ ]:
def visualize_cat_columns():
    '''
    Lists the distinct values for categorical columns
    '''
    # Categorical columns 
    for i in cat_cols:
        ... # print field name
        ... # print number of distinct values
        ... # for each distinct value print the number of occurances
        print("")
        print("")

In [ ]:
def visualize_date_columns():
    '''
    This function visualizes a timeline density for dates
    '''
    
    # Date columns
    for i in date_cols:
        final_data[final_data[i].isnull() == False][i].apply(lambda x : str(x.year) +
                                                "-" + str(x.month)).value_counts(ascending = True).plot()
        plt.title(i + " (" + str(final_data[i].isnull().sum()) + " null values)")
        plt.show()

In [ ]:
# visualize continuous features
...

# visulaize categorical features
...

# visualize date columns
...

### Handle outliers

In [ ]:
# There are quite a few outliers. 
# Please identify top-k (decide this based on the visualization) features where outliers are most obvious
n_rows = len(final_data)

final_data = ... # remove outliers based 1st obvious feature
final_data = ... # remove outliers based 2nd obvious feature
...
final_data = ... # remove outliers based kth obvious feature

print("Removed " + str(n_rows - len(final_data)) + " rows")

In [ ]:
# Remove all loans that are still current
n_rows = len(final_data)

final_data = ...

print("Removed " + str(n_rows - len(final_data)) + " rows")

In [ ]:
# Only include loans isssued since 2010
n_rows = len(final_data)

final_data = ...

print("Removed " + str(n_rows - len(final_data)) + " rows")

### Drop null values

In [ ]:
# Deal with null values. We allow cateogrical variables to be null
# OTHER than grade, which is a particularly important categorical.
# All non-categorical variables must be non-null, and we drop
# rows that do not meet this requirement

required_cols = set(cols_to_pick) - set(cat_cols) - set(["id"])
required_cols.add("grade")

n_rows = len(final_data)

... # drop rows that contain null based only on "required_cols"

print("Removed " + str(n_rows - len(final_data)) + " rows")

### Visualize clean data

In [ ]:
# Visualize the data again after cleaning
...
...
...

In [ ]:
# Visualize the feature correlations
... # use sns scatter or pairplot
...

In [ ]:
# Visualize relation between loan status and features
... # sns pairplot or scatter plot. Refer to recitations
...
...

What do you observe after removing the outliers?

### Data Exploration
Solution to Q.7 from the handout

In [ ]:
# Find the percentage of loans by grade, the default by grade,
# and the return of each grade
perc_by_grade = (final_data.grade.value_counts()*100/len(final_data)).sort_index()

default_by_grade = final_data.groupby("grade").apply(lambda x : (x.loan_status != "Fully Paid").sum()*100/len(x) )
ret_by_grade_OPT = ... # average return for M2-Optimistic for each loan grade
ret_by_grade_PESS = ... # average return for M1-Pessimistic for each loan grade
ret_by_grade_INTa = ... # average return for M3
ret_by_grade_INTb = ... # average return for M3
int_rate_by_grade = ... # average interest rate for each grade

combined = pd.DataFrame(perc_by_grade)
combined.columns = ['perc_of_loans']
combined['perc_default'] = default_by_grade
combined['avg_int_rate'] = int_rate_by_grade
combined['return_OPT'] = ret_by_grade_OPT
combined['return_PESS'] = ret_by_grade_PESS
combined['return_INTa'] = ret_by_grade_INTa
combined['return_INTb'] = ret_by_grade_INTb
combined['return_INTc'] = ret_by_grade_INTc

combined

Based on the output of previous cell, write down your answers to Q.7 from the handout.

### Save a Pickle

In [ ]:
# Remove the "total_pymnt" and "recoveries" from the list of continuous features
continuous_features = ...

Why did we remove `total_pymt` and `recoveries` from the data for the task of predicting whether to give loan or not, although these are highly predictive features?

In [ ]:
# save the prepared data for modeling in next Phase.
pickle.dump( [final_data, discrete_features, continuous_features, ret_cols], open(pickle_file, "wb") )